@tailwind base;

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  box-sizing: border-box;
  color: #333;
  background-color: theme('colors.brandYellow');
  overflow-x: hidden;
  /* background-image: url(~assets/images/diagonal-stripes.svg);
  background-size: 31rem; */
}
  
h1, h2, h3, h4, h5, h6, .hline {
  font-family: 'Economica', sans-serif;
  font-weight: 800;
  line-height: 1;
  margin: 0.5rem 0 1rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

main.wrapper {
  max-width: 1400px;
}

.min-height {
  /* min-height: 20rem; */
}

@tailwind components;
@tailwind utilities;

/* Page transitions */
.page-enter-active, .page-leave-active {
  transition: all 800ms ease-in-out;
  filter: hue-rotate(0);
  transform: translateY(0);
  opacity: 1;
}
.page-enter, .page-leave-to {
  opacity: 0;
  filter: hue-rotate(360deg);
  transform: translateY(-10px);
}
/* .page-enter-active main, .page-leave-active main {
  transition: all 800ms ease-in-out;
  filter: hue-rotate(0);
  transform: translateY(0);
  opacity: 1;
}
.page-enter main, .page-leave-to main {
  opacity: 0;
  filter: hue-rotate(360deg);
  transform: translateY(-10px);
} */
/* .page-enter-active, .page-leave-active {
  opacity: 1;
  transition: all 1200ms ease-in-out;
  transform: scale(1);
  background-size: 31rem !important;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: scale(1.2);
  background-size: 41rem !important;
}
.page-enter-active main, .page-leave-active main {
  opacity: 1;
  transition: all 1200ms ease-in-out;
  transform: scale(1);
  background-size: 31rem !important;
}
.page-enter main, .page-leave-to main {
  opacity: 0;
  transform: scale(0.8);
  background-size: 41rem !important;
} */

@media (prefers-reduced-motion: reduce) {
  .page-enter-active, .page-leave-active {
    transition: all 200ms ease-in-out;
    opacity: 1;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }
}

.crm {
  @apply text-brandOrange
}
.video {
  @apply text-brandGreen
}
.atl {
  @apply text-brandPink
}
.www {
  @apply text-brandBlue
}
